.images-fotoPopinCrop-container.invalid-image .images-fotoPopinCropCropper-container-croppable {
    outline: solid 2px #ff0000;
    outline-offset: -2px;
}

.images-fotoPopinCrop-container.invalid-image .images-fotoPopinCropInfo-container-error {
    display: block;
}

.images-fotoPopinCrop-container.invalid-image .images-fotoPopinCropInfo-container-final {
    display: none;
}

.images-fotoPopinCrop-container.invalid-image .images-fotoPopinCropMiniPreview-container {
    display: none;
}

