.images-fotoPopinSearchThumbnails-container {
    height: 100%;
    width: 100%;
    background: url('../img/loading_transp.png') center center no-repeat;
}

.images-fotoPopinSearchThumbnails-container.loaded {
    background-image: none;
}

.images-fotoPopinSearchThumbnails-container-images > li {
    position: relative;
    z-index: 1;
    float: left;
    margin: 4px 4px 8px 0;
    cursor: pointer;
}

.images-fotoPopinSearchThumbnails-image-container-picture > ul {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 118px;
    height: 128px;
    padding: 6px 8px 0 8px;
    background: #000;
    color: #FFF;
    text-align: left;

    -webkit-transition: opacity 0.2s linear;
       -moz-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}

.images-fotoPopinSearchThumbnails-image-container-picture > ul:hover {
    opacity: 0.8;
}

.images-fotoPopinSearchThumbnails-image-container-picture > ul > li {
    line-height: 15px;
}

.images-fotoPopinSearchThumbnails-image-container-picture > ul > li:first-child {
    border-bottom: 1px solid #FFF;
    padding-bottom: 15px;
}

.images-fotoPopinSearchThumbnails-image-container-picture > ul > li:last-child {
    padding-top: 15px;
}

.images-fotoPopinSearchThumbnails-image-container {
    width: 134px;
    height: 182px;
    padding: 4px;
}

.images-fotoPopinSearchThumbnails-first-image .images-fotoPopinSearchThumbnails-image-container {
    background: #f5f5f5;
    border: 1px solid #c8c8c8;
    padding: 3px;

    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.images-fotoPopinSearchThumbnails-first-image .images-fotoPopinSearchThumbnails-current-image-options {
    font-size: 11px;
    position: absolute;
    left: 3px;
    bottom: 3px;
}

.images-fotoPopinSearchThumbnails-first-image .images-fotoPopinSearchThumbnails-current-image-options span {
    opacity: 0.5;
    padding-right: 8px;
}


.images-fotoPopinSearchThumbnails-image.selected .images-fotoPopinSearchThumbnails-image-container {
    background: #E0F7FF;
    border: 1px solid #6F9DF8;
    padding: 3px;

    -webkit-border-radius: 4px;
            border-radius: 4px;
}

.images-fotoPopinSearchThumbnails-image-container-picture {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 134px;
    height: 134px;
    background: #DFDFDF url('../img/loading_transp.png') center center no-repeat;
}

.images-fotoPopinSearchThumbnails-image-container-picture.loaded {
    background-image: none;
}

.images-fotoPopinSearchThumbnails-image-container-picture img {
    display: block;
    margin: 0 auto;
}

.images-fotoPopinSearchThumbnails-image-title {
    display: block;
    padding-top: 8px;
}

