.images-fotoPopinPreview-container h3{
    margin-bottom: 20px;
}

.images-fotoPopinPreview-image .container-image, .images-fotoPopinPreview-image{
    width: 915px;
    height: 455px;
}

.images-fotoPopinPreview-image{
    overflow: auto;
}

.images-fotoPopinPreview-active .apply-button{
    float: right;
}

.images-fotoPopinPreview-loading {
    background: url('../img/loading_transp.png') no-repeat;
    width: 32px;
    height: 32px;
    top: 211px;
    left: 441px;
    position: absolute;
}
