.images-fotoPopinCropInfo-container {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    width: 600px;
    height: 40px;
    padding: 0 10px;
    background: #f7f7f7;
    color: #666;
}

.images-fotoPopinCropInfo-container-original {
    float: left;
}

.images-fotoPopinCropInfo-container-error {
    color: red;
    font-weight: bold;
    display: none;
}

.images-fotoPopinCropInfo-container-final, .images-fotoPopinCropInfo-container-error {
    float: right;
    text-align: right;
}

.images-fotoPopinCropInfo-container strong {
    color: #333;
}
