.images-fotoPopinCrop-cropSizeSelectContainer {
    background: #F7F7F7;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px 4px 0 0;
}
.images-fotoPopinCrop-cropSizeSelectContainer ul {
    margin: -4px 0 0 -4px;
}
.images-fotoPopinCrop-cropSizeSelectContainer li {
    float: left;
    overflow: hidden;
    margin: 4px 0 0 4px;
}
.images-fotoPopinCrop-cropSizeSelectContainer li a {
    width: 100%;
    height: 194px;
    width: 152px;
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: 140ms ease-in-out;
    -moz-transition: 140ms ease-in-out;
    transition: 140ms ease-in-out;
}
.images-fotoPopinCrop-cropSizeSelectContainer li a:hover {
    background: #fff;
    text-decoration: none;
    border-color: #eee;
}
.images-fotoPopinCrop-cropSizeSelectContainer li .invalid {
    opacity: 0.5;
    background-color: #F7F7F7;
}
.images-fotoPopinCrop-cropSizeSelectContainer li span {
    width: 150px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
}
.images-fotoPopinCrop-cropSizeSelectContainer li img {
    margin: 0 auto;
    display: block;
}
.images-fotoPopinCrop-cropSizeSelectContainer li strong {
    display: block;
    text-align: center;
    padding: 4px 4px 0 4px;
}
