.images-fotoPopinSearchPager-container {
    background: #f5f5f5;
    padding: 6px 10px;
    overflow: hidden;
    width: 180px;
}
.images-fotoPopinSearchPager-container [type="text"]{
    border: 1px solid #ccc;
    background: #fff;
    width: 37px;
    padding: 4px;
    text-align: center;
}
.images-fotoPopinSearchPager-container > *{
    float: left;
}
.images-fotoPopinSearchPager-container span{
    color: #666;
    margin: 4px 3px 0 3px;
}
.images-fotoPopinSearchPager-container button{
    width: 0;
    height: 0;
    border-style: solid;
    background: transparent;
    cursor: pointer;
    margin-top: 3px;
    overflow: hidden;
}
.images-fotoPopinSearchPager-backPage{
    border-color: transparent #006bff transparent transparent;
    border-width: 8px 8px 8px 0;
    margin-right: 12px;
}
.images-fotoPopinSearchPager-backPage.off{
    border-right-color: #ddd;
}
.images-fotoPopinSearchPager-nextPage{
    border-color: transparent transparent transparent #006bff;
    border-width: 8px 0 8px 8px;
    margin-left: 12px;
}
.images-fotoPopinSearchPager-nextPage.off{
    border-left-color: #ddd;
}
