.images-fotoPopin-uploadtab ul{
    list-style: none;
}
.images-fotoPopin-uploadtab fieldset{
    border: 0;
}
.images-fotoPopin-uploadtab legend{
    display: none;
}
.images-fotoPopin-uploadtab h3{
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    margin-bottom: 20px;
}
.images-fotoPopin-uploadtab [type='text']{
    height: 20px;
    padding: 4px;
    width: 570px;
    float: left;
    clear: left;
}
.images-fotoPopin-uploadtab [type='file']{
    float: left;
    clear: left;
    border: 1px solid #fff;
}
.images-fotoPopin-uploadtab .images-fotoPopinUpload-event-date{
    width: 100px;
}
.images-fotoPopin-uploadtab .error{
    border: 1px solid #ff0000;
    -webkit-transition: border 600ms linear;
}
.images-fotoPopin-uploadtab form li {
    margin-bottom: 25px;
    overflow: hidden;
}
.images-fotoPopin-uploadtab form li p {
    color: #adadad;
    font-style: italic;
    font-size: 12px;
    margin-top: 8px;
    padding-bottom: 1px;
    float: left;
    clear: left;
}
.images-fotoPopin-uploadtab label {
    color: #666;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    float: left;
}
.images-fotoPopin-uploadtab label.required {
    position: relative;
}
.images-fotoPopin-uploadtab label.required:after {
    content: '';
    width: 11px;
    height: 15px;
    display: block;
    position: absolute;
    top: 0;
    right: -18px;
    overflow: hidden;
    background: url(../img/sprite1.png) 0 -44px no-repeat;
}
