.images-fotoPopinCropMiniPreview-image {
    width: 260px;
}

.images-fotoPopinCropMiniPreview-container {
    width: 260px;
    position: absolute;
    bottom: 40px;
}

.images-fotoPopinCropMiniPreview-container > h4 {
    color: #666;
    font-weight: normal;
    font-size: 13px;
    background-color: #fff;
}

.images-fotoPopinCropMiniPreview-container > .images-fotoPopinCropMiniPreview-image {
    height: 150px;
}

.images-fotoPopinCropMiniPreview-container > .images-fotoPopinCropMiniPreview-image canvas {
    margin: 0 auto;
    display: block;
}

.images-fotoPopinCropMiniPreview-loading {
    background: url('../img/loading_transp.png') no-repeat;
    width: 32px;
    height: 32px;
    top: 59px;
    left: 114px;
    position: absolute;
}
